<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About - Redesigned Craigslist</title>
<link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header>
        <h1>Redesigned Craigslist</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./home.html" class="button">Home</a></li>
            <li><a href="./forSale.html" class="button">For Sale</a></li>
            <li><a href="./jobs.html" class="button">Jobs</a></li>
            <li><a href="./housing.html" class="button">Housing</a></li>
            <li><a href="./services.html" class="button">Services</a></li>
            <li><a href="./community.html" class="button">Community</a></li>
            <li><a href="./forums.html" class="button">Discussion Forums</a></li>
            <li><a href="./post.html" class="button">Make Post</a></li>
            <li><a href="./about.html" class="button">About</a></li>
        </ul>
    </nav>
    <section>
        <h2>About Redesigned Craigslist</h2>
        <p>This is a redesigned version of Craigslist, created for educational purposes. It demonstrates a modern and cleaner design compared to the original Craigslist website.</p>
        <p>
            Our main issues with Craigslist is how the website looks like there is a lack of styling, as if someone forgot to link in the stylesheet.
            It's a little hard on the eyes, and the style looks very antiquated. It's basically just a white background with blue text/links.
            The way the content is organized is also sub-optimal. It seems that things are clumped together unnecessarily.
            The home page is the worst part about it. The category-pages are organized decently, but they still lack styling.
        </p>
        <p>
            The main thing we wanted to focus on with our redesigned version was to add consistent, visually-pleasing styling to the website,
            and separate the pages out so that they are grouped into categories. The home page doesn't represent a hub to navigate to the other pages.
            We changed it to simply show featured items. We have a navigation bar at the top to reduce complexity and allow simple switching between categories.
            The navigation bar is the way users will navigate between pages rather than returning to the home page.
        </p>
    </section>
    <footer>
        <p>&copy Ethan Morton April 22, 2024</p>
    </footer>
</body>
</html>
