<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Discussion Forums - Redesigned Craigslist</title>
<link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header>
        <h1>Redesigned Craigslist</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./home.html" class="button">Home</a></li>
            <li><a href="./forSale.html" class="button">For Sale</a></li>
            <li><a href="./jobs.html" class="button">Jobs</a></li>
            <li><a href="./housing.html" class="button">Housing</a></li>
            <li><a href="./services.html" class="button">Services</a></li>
            <li><a href="./community.html" class="button">Community</a></li>
            <li><a href="./forums.html" class="button">Discussion Forums</a></li>
            <li><a href="./post.html" class="button">Make Post</a></li>
            <li><a href="./about.html" class="button">About</a></li>
        </ul>
    </nav>
    <section>
        <h2>Discussion Forums</h2>
        <ul id="forum-list">
            <li>
                <a href="forum.html">Forum Title 1</a>
                <p>Description of forum 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
                <a href="forum.html">Forum Title 2</a>
                <p>Description of forum 2. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </li>
        </ul>
    </section>
    <footer>
        <p>&copy Ethan Morton April 22, 2024</p>
    </footer>
</body>
</html>
